* {
  margin: 0;
  padding: 0;
  font-family: Lato;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.heading {
  background: #222222;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
  padding-left: 20px;
}

.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
  padding-right: 20px;
}

.brand_logo {
  margin-right: 30px;
}

.searching {
  padding-top: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pole {
  display: none;
}

.search-text {
  padding-left: 15px;
}

.searching:hover .pole {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tap_1 {
  margin-right: 33px;
}

.head-menu {
  position: relative;
}

.head-menu:hover .menu-drop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-drop {
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
  width: 200px;
  padding: 30px;
  background-color: #FFFFFF;
  margin-top: 7px;
  z-index: 1;
}

.head-text-menu {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding-bottom: 20px;
  text-decoration: none;
}

.main-menu-way {
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  padding-bottom: 5px;
  text-decoration: none;
}

.main-menu-way:hover {
  font-weight: 900;
}

.menu-way {
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  padding-left: 24px;
  padding-bottom: 10px;
  text-decoration: none;
}

.menu-way:hover {
  font-weight: 900;
}

.tap_2 {
  margin-right: 33px;
}

.title {
  background-image: url(images/title_back.png);
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.title_men {
  height: 100%;
}

.title_right {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 92px;
  -webkit-animation: roll-in-right 0.6s ease-out both;
  animation: roll-in-right 0.6s ease-out both;
}

@-webkit-keyframes roll-in-right {
  0% {
    -webkit-transform: translateX(800px) rotate(540deg);
    transform: translateX(800px) rotate(540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

@keyframes roll-in-right {
  0% {
    -webkit-transform: translateX(800px) rotate(540deg);
    transform: translateX(800px) rotate(540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

.stripe {
  background-color: #F16D7F;
  margin-right: 10px;
  width: 12px;
}

.big {
  font-weight: 900;
  font-size: 48px;
}

.not_big {
  font-weight: 700;
  font-size: 32px;
}

.pink {
  font-size: 32px;
  color: #F16D7F;
  font-weight: 700;
}

.pink-block {
  font-size: 24px;
  color: #F16D7F;
  font-weight: 700;
}

.main-block {
  margin: 65px auto;
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.women {
  position: relative;
}

.men {
  position: relative;
}

.kids {
  position: relative;
}

.img-block {
  width: 360px;
  height: auto;
}

.acces {
  position: relative;
}

.acces-block {
  max-width: 100%;
  height: auto;
}

.text_block {
  display: block;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-weight: 400;
  color: #FFFFFF;
  text-decoration: none;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.text_block:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.text_acces {
  display: inline-block;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  top: 40%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.text_acces:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.items {
  text-align: center;
}

.name_items {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  margin-top: 96px;
  margin-bottom: 6px;
}

.par {
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
}

.product {
  margin: 48px auto;
  position: relative;
}

.item {
  width: 360px;
  position: relative;
  margin-bottom: 30px;
}

.item-desc {
  font-size: 13px;
  line-height: 16px;
  margin-top: 25px;
  color: #000000;
}

.text-box {
  padding: 18px;
  background-color: #F8F8F8;
}

.item-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin-top: 12px;
}

.item-price {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: #F16D7F;
  margin-top: 18px;
}

.item-link {
  display: block;
  text-decoration: none;
}

.item:hover {
  -webkit-box-shadow: 0px 5px 5px 0px #817f7f;
          box-shadow: 0px 5px 5px 0px #817f7f;
}

.item:hover .item-img {
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
}

.item:hover .add-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.add-box {
  position: absolute;
  top: 188px;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  border: 1px solid #FFFFFF;
  text-decoration: none;
}

.add-text {
  color: #FFFFFF;
  font-size: 14px;
  line-height: 17px;
  margin-left: 8px;
  margin-bottom: 0px;
}

.add:hover {
  -webkit-box-shadow: 0 0 10px #FFFFFF;
          box-shadow: 0 0 10px #FFFFFF;
}

.item-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.button {
  border: 1px solid #F16D7F;
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: #F16D7F;
  text-decoration: none;
  padding: 14px 38px;
  display: inline-block;
  margin-top: 18px;
  margin-bottom: 47px;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.button:hover {
  border: none;
  color: white;
  background-color: #F16D7F;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #F16D7F;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.spec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #000000;
  height: 340px;
}

.spec_item1 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  height: 133px;
}

.spec_item2 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  margin-left: 30px;
  margin-right: 30px;
  height: 133px;
}

.spec_item3 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  height: 133px;
}

.miniature {
  left: 44%;
  position: absolute;
}

.miniature:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.spec_head {
  text-align: center;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
  padding-top: 58px;
}

.spec_head:hover {
  -webkit-transform: scaleX(1.3);
          transform: scaleX(1.3);
}

.spec_text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
  width: 340px;
  padding-top: 16px;
}

.spec_text:hover {
  -webkit-transform: scaleX(1.3);
          transform: scaleX(1.3);
}

.footer {
  background-image: url(images/footer.jpg);
  height: 448px;
}

.feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subscribe {
  position: relative;
  margin-top: 115px;
  margin-right: 100px;
}

.feedback-face {
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 106px;
  margin-left: 250px;
}

.feedback-text {
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  width: 360px;
  margin-top: 30px;
  margin-left: 120px;
}

.sub-head {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 167.2%;
}

.sub-text {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 167.2%;
  margin-bottom: 32px;
}

.enter-mail {
  width: 256px;
  height: 49px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px 0px 0px 15px;
  background: #E1E1E1;
  border: none;
  outline: none;
}

.submit {
  width: 100px;
  height: 49px;
  padding-left: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0px 15px 15px 0px;
  background: #F16D7F;
  color: #FBFBFB;
  border: none;
}

.submit:hover {
  border: none;
  color: #F16D7F;
  background-color: #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #F16D7F;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: 900;
}

.network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
  padding-right: 230px;
}

.fa {
  padding: 10px;
  margin-right: 5px;
  color: #000000;
  background-color: #FFFFFF;
}

.fa:hover {
  color: #FFFFFF;
  background-color: #F16D7F;
}

.footer_down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #000000;
  height: 79px;
}

.alr {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: #FBFBFB;
  padding-left: 235px;
  padding-top: 30px;
}

.title-catalog {
  height: 100px;
  background-color: #F8F3F4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head-catalog {
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.breadcrumb {
  list-style: none;
}

.breadcrumb li {
  display: inline;
  font-size: 18px;
}

.breadcrumb li + li:before {
  padding: 8px;
  color: #000000;
  content: "/\00a0";
}

.breadcrumb li a {
  color: #636363;
  text-decoration: none;
}

.breadcrumb li a:hover {
  color: #F16D7F;
  text-decoration: none;
}

.this-page {
  color: #F16D7F;
}

.menu-catalog {
  position: relative;
  margin-top: 50px;
  margin-bottom: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.left-menu {
  width: 360px;
  position: absolute;
  padding-left: 10px;
}

.filter-cat {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.filter-cat:hover {
  color: #F16D7F;
}

.left-menu-filter {
  background-color: #FFFFFF;
  position: relative;
  z-index: 1;
}

.fil-img {
  padding-left: 15px;
}

.left-menu-filter > summary {
  list-style: none;
}

.left-menu-filter > summary::-webkit-details-marker {
  display: none;
}

.head-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 37px;
  padding-left: 5px;
  color: #F16D7F;
  margin-top: 5px;
  border-left: 5px solid #F16D7F;
  border-bottom: 1px solid #cccc;
}

.head-filter:hover {
  font-weight: 900;
}

.right-menu {
  margin-left: 100px;
  width: 200px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 310px;
}

.menu-filter {
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  background-color: #FFFFFF;
  margin: 0px 10px;
  width: 100px;
  padding: 10px;
  position: absolute;
  z-index: 1;
}

.pag {
  margin-left: 470px;
}

.pagination a {
  color: #000000;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.pagination a.active {
  color: #F16D7F;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.horizont {
  width: 641px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #bdbbbb;
}

.slider {
  background-color: #F7F7F7;
}

.carousel {
  position: relative;
  width: 397px;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.carousel > img {
  display: none;
  width: 100%;
}

.carousel > input {
  position: absolute;
  left: -9999px;
}

.carousel > input:checked + label + img {
  display: block;
}

.carousel > label,
.carousel > input:checked ~ label ~ label ~ label ~ label {
  display: none;
}

.carousel > input:checked + label {
  display: block;
  left: 0;
}

.carousel > input:checked ~ label ~ label ~ label {
  display: block;
  right: 0;
}

.carousel > label {
  position: absolute;
  top: 0;
  width: 25%;
  height: 100%;
  visibility: hidden;
}

.carousel > label:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  visibility: visible;
  color: #F16D7F;
}

.carousel > label:after {
  display: block;
  position: absolute;
  top: 50%;
  width: 35px;
  height: 35px;
  line-height: 28px;
  margin: 10px;
  background-color: rgba(42, 42, 42, 0.15);
  font-size: 18px;
  text-align: center;
  visibility: hidden;
}

.carousel > label:hover:after {
  visibility: visible;
  color: #F16D7F;
}

.carousel > input:checked + label:after {
  left: 0;
  content: '\00AB';
}

.carousel > input:checked ~ label ~ label ~ label:after {
  right: 0;
  content: '\00BB';
}

.card {
  height: 600px;
  border: 1px solid #EAEAEA;
  background-color: #FFFFFF;
  margin-top: -30px;
}

.card-heading {
  padding-top: 64px;
  text-align: center;
  width: 640px;
  margin: 0 auto;
}

.card-h {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}

.line {
  width: 63px;
  height: 3px;
  margin-top: 12px;
  background: #F16D7F;
  margin: 12px auto;
}

.card-item {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
}

.card-changes {
  width: 640px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.card-text {
  padding: 48px 43px 32px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5E5E5E;
}

.card-price {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.horizont {
  margin: 65px auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.card-filter {
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  background: #FFFFFF;
  margin: 0 auto;
  width: 128px;
  padding: 10px;
  position: relative;
  z-index: 1;
}

.card-add-box {
  margin: 50px auto;
  width: 170px;
}

.card-add-box:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  font-weight: 900;
}

.card-add {
  border: 1px solid #F16D7F;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: #F16D7F;
  text-decoration: none;
  margin: 0 auto;
  padding: 15px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-add-text {
  color: #F16D7F;
  font-size: 14px;
  line-height: 17px;
  margin-left: 23px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.left-head {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

.fil {
  margin-left: 11px;
  margin-top: 4px;
  height: 12px;
}

.filter-item {
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.head-text-menu {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding-bottom: 20px;
  text-decoration: none;
}

.main-menu-way {
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  padding-bottom: 5px;
  text-decoration: none;
}

.cat-menu-way {
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  padding-left: 40px;
  padding-top: 10px;
  text-decoration: none;
  display: block;
}

.cat-menu-way:hover {
  font-weight: 900;
}

.accordion-item-header {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 16px;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}

.accordion-item-content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
}

.accordion-item:hover .accordion-item-content {
  padding: 10px 15px;
  display: block;
}

.family {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dad {
  margin-top: 96px;
  margin-bottom: 128px;
  margin-right: 128px;
}

.mom {
  margin-top: 96px;
}

.cart-item1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  width: 650px;
  height: 300px;
  -webkit-box-shadow: 10px 10px 2px 1px rgba(132, 132, 136, 0.2);
          box-shadow: 10px 10px 2px 1px rgba(132, 132, 136, 0.2);
}

.cart-item2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 72px;
  width: 650px;
  height: 300px;
  -webkit-box-shadow: 10px 10px 2px 1px rgba(132, 132, 136, 0.2);
          box-shadow: 10px 10px 2px 1px rgba(132, 132, 136, 0.2);
}

.cart-photo {
  width: 260px;
}

.cart-head {
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 42px;
}

.cart-text {
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  padding-left: 30px;
  padding-bottom: 6px;
  padding-right: 20px;
}

.cart-price {
  color: #F16D7F;
}

.quan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.but {
  padding: 16px;
  color: #000000;
  border: 1px solid #A4A4A4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

.but-submit {
  background-color: #FFFFFF;
}

.but:hover {
  color: #FFFFFF;
  background-color: #F16D7F;
  border: 1px solid transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.mom-head {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: #222222;
}

.pole-vvoda {
  width: 346px;
  height: 44px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  padding-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.mom_but {
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  width: 100px;
  padding: 10px;
  border: 1px solid #A4A4A4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 57px;
}

.buy {
  margin-top: 57px;
  width: 360px;
  height: 215px;
  background-color: #F5F3F3;
  position: relative;
}

.mom_text1 {
  padding-top: 39px;
  padding-left: 218px;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
}

.mom_text2 {
  padding-top: 12px;
  padding-left: 153px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: #4A4A4A;
}

.mom_button {
  position: absolute;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: #FFFFFF;
  margin: 39px 42px 22px;
  padding: 16px 40px;
  text-decoration: none;
  background-color: #F16D7F;
}

.mom_button:hover {
  color: #F16D7F;
  background-color: #FFFFFF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.union {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 64px auto 96px;
}

.in {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.in-head {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: #000000;
}

.vvod {
  margin-top: 20px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  padding-top: 12px;
  padding-left: 16px;
  padding-bottom: 12px;
}

.in-check {
  margin-top: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 33px;
}

.inp-sex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
}

.sex {
  padding-left: 10px;
  font-weight: 300;
  font-size: 13px;
}

.in-text {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  margin-top: 15px;
  margin-bottom: 39px;
}

.in-button {
  padding: 16px;
  font-size: 14px;
  line-height: 17px;
  background-color: #F16D7F;
  color: #FFFFFF;
  border: 1px solid transparent;
}

.in-button:hover {
  color: #F16D7F;
  background-color: #FFFFFF;
  border: 1px solid #F16D7F;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.yan {
  margin-left: 128px;
}

.yan-head {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.yan-text {
  width: 500px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-top: 21px;
  margin-bottom: 21px;
}

.yan-ul {
  margin-left: 25px;
}

.yan-ul li {
  list-style-image: url(images/galochka.png);
  padding-left: 23px;
}

@media screen and (min-width: 376px) and (max-width: 768px) {
  .container {
    width: 735px;
    padding: 0px 2%;
  }
  .heading {
    padding: 0px 3%;
  }
  .title {
    height: 368px;
    padding: 0px 0px;
  }
  .stripe {
    width: 8px;
  }
  .big {
    font-size: 44px;
  }
  .not_big {
    font-size: 24px;
  }
  .pink {
    font-size: 24px;
  }
  .block {
    margin-bottom: 19px;
  }
  .img-block {
    width: 232px;
  }
  .spec {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 610px;
  }
  .miniature {
    left: 42%;
  }
  .spec_item1 {
    margin-top: 48px;
    margin-left: 0px;
  }
  .spec_item2 {
    margin-left: 0px;
    margin-right: 0px;
  }
  .spec_item3 {
    margin-bottom: 48px;
    margin-right: 0px;
  }
  .footer {
    height: 614px;
    background-position: 33%;
    background-size: cover;
  }
  .feedback {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .feedback-face {
    margin-top: 48px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-left: 320px;
  }
  .feedback-text {
    margin-left: 185px;
  }
  .subscribe {
    margin-top: 48px;
    margin-bottom: 140px;
    margin-right: 0px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .alr {
    padding-left: 32px;
  }
  .network {
    padding-right: 32px;
  }
  .title-catalog {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 60px 16px;
  }
  .menu-catalog {
    margin-top: 24px;
    margin-bottom: 40px;
  }
  .pag {
    margin-left: 265px;
    margin-bottom: 63px;
  }
  .card {
    margin-top: 0px;
  }
  .family {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 128px;
  }
  .dad {
    margin-bottom: 0px;
    margin-right: 0px;
  }
  .cart-item1 {
    width: 735px;
  }
  .cart-item2 {
    width: 735px;
  }
  .cart-button {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .bbb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .aaa {
    width: 375px;
  }
  .all-input {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .pole-vvoda {
    width: 360px;
  }
  .buy {
    height: 250px;
    margin-top: 39px;
    margin-left: 15px;
  }
  .mom_text1 {
    padding-right: 34px;
  }
  .mom_text2 {
    padding-right: 34px;
  }
  .mom_button {
    width: 190px;
    margin-left: 40px;
  }
  .yan {
    margin-left: 22px;
  }
  .yan-head {
    font-size: 16px;
    line-height: 19px;
  }
  .yan-text {
    width: 315px;
    font-size: 16px;
    line-height: 19px;
  }
}
/*# sourceMappingURL=style.css.map */